# compiled output
FE/dist
FE/node_modules
BE/dist
BE/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/FE/coverage
/FE/.nyc_output
/FE/test-results/
/FE/playwright-report/
/FE/blob-report/
/FE/playwright/.cache/

/BE/coverage
/BE/.nyc_output


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json