@import './_mixins-flex';
@import './_mixins-grid';
@import './_mixins-font';

@mixin mx-width($mx-width) {
  max-width: $mx-width;
  width: 100%;
}

@mixin abs-xCenter() {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
