button {
  display: flex;
  height: 2.5vw;
  justify-content: center;
  align-items: center;
  padding: 0 1.25vw;
  text-align: center;
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25vw;
  border: none;
  gap: 0.417vw;
  border-radius: 0.625vw;
}

button:hover {
  cursor: pointer;
  transition: 0.4s;
}
